---
title: Single tag
tag: single
---

<h1>{{ title }}</h1>
<p>For I have but a single tag.</p>

<p>Single tag is treated like a string, so each character is a separate list item:</p>
<ol>
  {% for t in tag %}
  <li>{{ t }}</li>
  {% endfor %}
</ol>

<hr />

<p>Convert the tag to an array using custom <code>toArray</code> filter:</p>
<ol>
  {% for t in (tag | toArray) %}
  <li>{{ t }}</li>
  {% endfor %}
</ol>
